section{
    font-size: 26px;
    font-family: 'Courier New', sans-serif; 
    line-height: 1.6;
    margin: 0.8em;
}

.text{
    margin: 1em 2em;
    display: inline-block;
    width: 45%;
}

li{
    margin-left: 0.75em;
    padding-left: 0.15em; 
    list-style: disc;
}
img{
    width: 40%; 
    max-width: 19.8rem;
    height: auto;
    float: left; 
}

.industry{
    font-weight:bold; 
}

@media only screen and (max-width: 1000px){
    .text{
        font-size: 20px; 
    }
}
@media only screen and (max-width:800px){
    .image_container {
        display: inline-flex;
        width: 100%; 
    }

    img{
        margin: 0 auto; 
        display: inline-block;
        width: 80%;
    }

    .text{ 
        margin: 0 auto; 
        width: 100%; 
    }
}
